/*1.Local Font Integrate*/
	/*i. local Machine Integrate.
	ii. Project Folder Integrate*/

/*body{
	font-family: Arial;
}*/
/*.p1{
	font-family: Arial;
}

.p2{
	font-family: Century,Arial,"Times New Roman";
}*/



/*ii. Project Folder Integrate*/



/*at-rultes*/
@font-face{
	font-family: Stick;
	src:local('Stick-Regular'), url('../libs/fonts/stick/Stick-Regular.ttf') format(woff);
}

body{
	font-family: Stick, sans-serif;
}




/*2.Global font Integrate*/

/*body{
	font-family: 'Stick', sans-serif;
}*/

/*.p1{
	font-family:Stick ;
}

.p2{
	font-family: Stick,sans-serif;
}

.p3{
	font-family: 'Akaya Kanadaka', cursive;
}*/